.env
.env.*
*.env
config.py
secrets/
certs/
*.pem
*.key

.venv/
venv/
env/
ENV/
pyenv/
.pytest_cache/
.poetry/
.pdm/
__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.ruff_cache/

*.db
*.sqlite
*.sqlite3
data/
*.log
logs/

site/
build/
dist/
*.egg-info/

.idea/
.vscode/
.DS_Store
poetry.lock